body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../background.png);
}

h1 {
  font-size: 70px;
  padding-left: 30px;
  color: orangered;
}

.container {
  display: flex;
  padding-left: 60px;
  gap: 30px;
}

span {
  font-size: 30px;
  font-weight: bold;
  color: #2a52b4;
}

ul {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid rgb(131, 131, 131);
  max-height: 300px;
  overflow-y: auto;
  border-radius: 5px;
  background-color: white;
}

li {
  padding: 10px;
  color: #495057;
}

li:nth-child(even) {
  background-color: rgb(233, 233, 233);
}

.add-score {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}

.add-score input {
  height: 25px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 5px;
  font-size: 15px;
  width: 95%;
  margin-bottom: 5px;
}

.display-scores {
  width: 40%;
}

.submit-btn {
  align-self: flex-end;
}

button {
  font-size: 17px;
  background-color: rgb(12, 100, 12);
  border: 0;
  color: white;
  cursor: pointer;
  width: 90px;
  height: 40px;
}

button:hover {
  background-color: rgb(11, 83, 11);
}

.display-none {
  visibility: hidden;
}

.name-warning,
.score-warning,
.minus-score-warning {
  color: red;
  font-size: 15px;
}

.score-area {
  position: relative;
}

.minus-score-warning {
  position: absolute;
  left: 0;
}

.refresh-scores {
  display: flex;
  justify-content: space-between;
}
